<% provide(:title, "Lines") %>
<div style="padding: 8px;width: 200px;float:right;z-index:1;">
    <%= link_to 'New Line', new_line_path, class: "btn btn-success btn-md" %>
</div>
<table id='async_datatable' class="table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Panel</th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.name %></td>
        <td><%= line.team.name %></td>
        <td>
            <%= link_to '', edit_line_path(line), class:'fa fa-1mx fa-pencil-square-o'  %> | 
            <%= link_to '', line, method: :delete, data: { confirm: 'Are you sure?' }, class:'fa fa-1mx fa-trash-o'  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
