<% provide(:title, 'WorkingTeam') %>

<%= form_for @working_team do |f| %>

<%= render 'shared/error_messages', object: f.object %>

<div class="row bs-callout bs-callout-primary">
  <h4>Information Equipe</h4>
  	<div class="form-group col-md-2">
	   <label>Equipe</label>
	   <%= f.select :teamName, ['A','B','C','D','E'],{}, {:class => 'form-control selectpicker', :title => title=' '} %>
 	</div>
	<div class="form-group col-md-2">
		<label>Date</label>
		<div class="input-group">
			<%= f.text_field :date, :class => 'form-control date datetimepicker1' %>
			<div class="input-group-addon">
				<i class="fa fa-clock-o"></i>
			</div>
		</div>
	</div>
	<div class="form-group col-md-2">
		<label>Vacation</label>
		<%= f.select :session, ['14H-21H','08H-14H','21H-08H'],{}, {:class => 'form-control selectpicker', :title => title=' '} %>
	</div>
	<div class="form-group col-md-3">
		<label>Superviseur</label>
		<%= f.select :supervisor, ['A','B','C','D','E'],{}, {:class => 'form-control selectpicker', :title => title=' '} %>
	</div>
	<div class="form-group col-md-3">
		<label>ESA</label>
		<%= f.select :esaRadar, @users.all.map(&:name),{include_hidden: false}, { :multiple => true , :class => 'form-control selectpicker'} %>
	</div>
</div>

<div class="row">
	<%= f.submit "Add", class: "btn btn-primary btn-block btn-flat" %>
</div>

<% end %>
