<% provide(:title, 'Sign Up') %>
	<div class="register-box">
  		<div class="register-box-body">
    		<p class="register-box-msg">Register a new membership</p>

			<%= form_for @user, url: signup_path do |f| %>

			<%= render 'shared/error_messages', object: f.object %>

			<div class="form-group has-feedback">
				<%= f.text_field :name, class:"form-control", placeholder:"Full name"%>
				<%= content_tag(:span, nil ,class: "glyphicon glyphicon-user form-control-feedback") %>
			</div>
			<div class="form-group has-feedback">
				<%= f.email_field :email, class:"form-control", placeholder:"Email" %>
				<%= content_tag(:span, nil ,class: "glyphicon glyphicon-envelope form-control-feedback") %>
			</div>
			<div class="form-group has-feedback">
				<%= f.password_field :password, class:"form-control", placeholder:"Password"%>
				<%= content_tag(:span, nil ,class: "glyphicon glyphicon-lock form-control-feedback") %>
			</div>
			<div class="form-group has-feedback">
				<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Retype password" %>
				<%= content_tag(:span, nil ,class: "glyphicon glyphicon-log-in form-control-feedback") %>
			</div>
			<div class="form-group has-feedback">
				<%= f.collection_select :team_id, Team.all, :id, :name, {:prompt => ' Select Team'}%>
			</div>
			<div class="row">
				<%= f.submit "Register", class: "btn btn-primary btn-block btn-flat" %>
			</div>
    		<% end %>
		</div>
	</div>


        <!-- <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div> -->
        <!-- /.col -->
        <!-- <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div> -->
        <!-- /.col -->
