<table id='async_dataEvent' class="table-striped">
  <thead>
    <tr>
      <th>Opened</th>
      <th>Object</th>
      <th>Added by</th>
      <th>Content</th>
	  <th>Panel</th>
    </tr>
  </thead>

  <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.created_at %></td>
          <td><%= event.object %></td>
          <td><%= event.user.name %></td>
          <td><%= event.content %></td>
          <td class="panelDataTable">
              <%= link_to '', edit_event_path(event), class:'fa fa-1mx fa-pencil-square-o' %>
              <%= link_to '', event, method: :delete, data: { confirm: 'Are you sure?' }, class:'fa fa-1mx fa-trash-o' %>
          </td>
        </tr>
      <% end %>
  </tbody>

</table>
