<table id='async_dataIntline' class="table-striped">
  <thead>
    <tr>
      <th>Opened</th>
      <th>Line Name</th>
      <th>Ticket Number</th>
      <th>Note HS</th>
      <th>Added by</th>
      <th>Panel</th>
    </tr>
  </thead>

  <tbody>
      <% @intlines.each do |intline| %>
        <tr>
          <td><%= intline.created_at.strftime("[%d-%m-%y][%H:%M]") %></td>
          <td><%= intline.lineName %></td>
          <td><%= intline.ticketN %></td>
          <td><%= intline.remHS %></td>
          <td><%= intline.user.name %></td>
          <td class="panelDataTable">
              <%= link_to('', restore_intline_path(intline), class:'fa fa-1mx  fa-check') %>
              <%= link_to('', edit_intline_path(intline), class:'fa fa-1mx  fa-pencil-square-o') %>
              <%= link_to('', intline, method: :delete, data: { confirm: 'Are you sure?' }, class:'fa fa-1mx fa-trash-o') %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
