<li id="event-<%= event.id %>">
  <span class="content"><%= event.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(event.created_at) %> ago.
    <div class="panel">
        <% if current_user?(event.user) %>
            <%= link_to "Update", edit_event_path(event) %>
            <%= link_to "Delete", event, method: :delete,
                                        data: { confirm: "You sure?" } %>
        <% end %>
    </div>
  </span>
</li>
