<p id="notice"><%= notice %></p>

<p>
  <strong>Linename:</strong>
  <%= @intline.lineName %>
</p>

<p>
  <strong>Ticketn:</strong>
  <%= @intline.ticketN %>
</p>

<p>
  <strong>Remhs:</strong>
  <%= @intline.remHS %>
</p>

<p>
  <strong>Userhs:</strong>
  <%= @intline.userHS %>
</p>

<p>
  <strong>Remok:</strong>
  <%= @intline.remOK %>
</p>

<p>
  <strong>Userok:</strong>
  <%= @intline.userOK %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @intline.duration %>
</p>

<p>
  <strong>Panel:</strong>
  <%= @intline.panel %>
</p>

<p>
  <strong>User:</strong>
  <%= @intline.user %>
</p>

<%= link_to 'Edit', edit_intline_path(@intline) %> |
<%= link_to 'Back', intlines_path %>
