<div class="side-nav">
	<div class="logo">
		<i class="fa fa-tachometer"></i>
		<span>EfdmRoR</span>
	</div>
	<nav>
		<ul class="navbar">
			<li>
					<span><i class="fa fa-user"></i></span>
					<span><%= link_to "Home", home_path %></span>
			</li>
			<li>
					<span><i class="fa fa-list"></i></span>
					<span><%= link_to "Teams", teams_path %></span>
			</li>
			<li>
					<span><i class="fa fa-envelope"></i></span>
					<span><%= link_to "Lines", intlines_path %></span>
			</li>
			<li>
					<span><i class="fa fa-bar-chart"></i></span>
					<span><%= link_to "Events", events_path %></span>
			</li>
			<li>
					<span><i class="fa fa-list"></i></span>
					<span><%= link_to "Equipments", intequipments_path %></span>
			</li>
			<li>
					<span><i class="fa fa-credit-card-alt"></i></span>
					<span><%= link_to "Calendar", issues_path %></span>
					<small class='label pull-right bg-red'><%= @today_issues %></small>
			</li>
		<%	if logged_in? && current_user.admin? %>
			<li>
					<span><i class="fa fa-telegram"></i></span>
					<span><%= link_to "Lines list", lines_path %></span>
			</li>
			<li>
					<span><i class="fa fa-microchip"></i></span>
					<span><%= link_to "Materials", materials_path %></span>
			</li>
			<li>
					<span><i class="fa fa-credit-card-alt"></i></span>
					<span><%= link_to "Stats", href='#' %></span>
			</li>
		<% end %>
		</ul>
	</nav>
</div>
